*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
}



.container{
    min-height: 30px;

}

.container{
    min-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding : 20px;
    padding-bottom: 60px;
}

.container .content{
    text-align: center;
}

.container .content h3{
    font-size: 25px;
}

.container .content h3 span{
    background-color: crimson;
    color: white;
    border-radius: 6px;
    padding:0 15px ;
}

.container .content h1{
    font-size: 50px;
    color: black;
}

.container .content .btn{
    display: inline-block;
    padding: 10px 30px;
    font-size: 20px;
    background: #333;
    color: white;
    margin:0 5px;
    border-radius: 6px;
}

.container .content .btn:hover{
    background: crimson;
}


.form-container{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding : 20px;
    padding-bottom: 60px;
    background:rgb(236, 234, 234) ;
}


.form-container form{
    padding: 20px;
    border-radius: 5px;
    background: #fff;
    text-align: center;
    width: 500px;
}

.form-container form h3{
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #333;
}

.form-container form input,
.form-container form select{
    width: 100%;
    padding: 10px 15px;
    font-size: 16px;
    margin: 7px 0;
    background: #eee;
    border-radius: 6px;
}

.form-container form select option{
    background: #fff;
}

.form-container form select option:hover{
    cursor: pointer;
}

.form-container form .form-btn{
    background: #eee;
    color: #0d6efd;
    font-size: 20px;
    font-weight: 500;
}

.form-container form .form-btn:hover{
    background: #0d6efd;
    color: #eee;
    cursor: pointer;
}

.form-container form p{
    margin-top: 10px;
    font: size 20px;
    color:black;
    font-weight: bold;
}

.form-container form p a{
    color:#0d6efd;
}

.form-container form .err-msg{
margin:10px 0;
display: block;
background: #0d6efd;
color: #fff;
border-radius: 6px;
font-size: 18px;
padding:10px;
}